<!DOCTYPE HTML>
<html>
<head>
<title>Pasha the BEST!!!</title>
</head>
<body>
<h1>Аренда техники</h1><hr>
<h4>Подробная информация</h4>
<b>ID: </b>${product.id}<br>
<b>категория: </b>${product.category}<br>
<b>линейка товаров: </b>${product.paroductionRuler}<br>
<b>название: </b>${product.title}<br>
<b>серийный номер: </b>${product.serialNumber}<br>
<b>описание: </b>${product.description}<br>
<b>рыночная цена: </b>${product.marketPrice}<br>
<b>закупоная цена: </b>${product.purchasePrice}<br>
<b>комментарий: </b>${product.comment}<br>
<hr>
<h3>Удаление объявления</h3>
<form action="product/delete/${product.id}" method="post">
    <input type="submit" value="Удалить">
</form>
</body>
</html>